.login-container {
  width: 35%;
  margin: auto;
  background-color: white;
  padding: 20px;
  margin-top: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-container h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.label-container {
  padding: 10px;
}

.label-container input {
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px 10px;
  width: 90%;
  margin: auto;
  margin-left: 10px;
}

.login-container button {
  padding: 4px 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  margin: auto;
  font-size: 18px;
  margin-top: 10px;
}

.bottom-text {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

.bottom-text span {
  text-decoration: underline;
  cursor: pointer;
}

.login-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  justify-self: flex-start;
}

@media (max-width: 1000px) and (min-width: 500px) {
  .login-container {
    width: 50%;
  }
}

@media (max-width: 700px) and (min-width: 100px) {
  .login-container {
    width: 80%;
  }
}
